[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build]
  command = "npm run build && npm run start"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
package = "@netlify/plugin-nextjs"
